In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df=pd.read_csv('D:\ML\Krish Naik Codes\Codebasics\datasets\salaries.csv')

In [11]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [5]:
df.shape

(16, 4)

In [9]:
df.columns.isnull()

array([False, False, False, False])

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
le =LabelEncoder()

In [15]:
df['company']=le.fit_transform(df['company'])
df['job']=le.fit_transform(df['job'])
df['degree']=le.fit_transform(df['degree'])

In [16]:
df.head()

   company  job  degree  salary_more_then_100k
0        2    2       0                      0
1        2    2       1                      0
2        2    0       0                      1
3        2    0       1                      1
4        2    1       0                      0

In [17]:
X=df.drop('salary_more_then_100k',axis=1)
y=df['salary_more_then_100k']

In [18]:
from sklearn.tree import DecisionTreeClassifier

In [19]:
dtc =DecisionTreeClassifier()

In [20]:
dtc.fit(X,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [22]:
dtc.score(X,y)

1.0

In [24]:
dtc.predict([[2,2,1]])

array([0], dtype=int64)

In [ ]:
## Please note I have not used the train test split