In [50]:
from sklearn.cluster import KMeans
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from matplotlib import pyplot as plt
%matplotlib inline

In [51]:
df = pd.read_csv(r"D:\ML\Krish Naik Codes\Codebasics\datasets\titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [52]:
df.shape

(891, 12)

In [53]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [54]:
X = df.drop('Survived',axis=1)
y = df['Survived']

In [55]:
X.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [56]:
X.isnull().sum()

Pclass      0
Sex         0
Age       177
Fare        0
dtype: int64

In [57]:
X['Age'].fillna(np.mean(X['Age']) , inplace=True)

In [58]:
X.isnull().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

In [59]:
male=pd.get_dummies(X['Sex'], drop_first=True)

In [60]:
X=pd.concat([X,male],axis=1)

In [61]:
X.head()

   Pclass     Sex   Age     Fare  male
0       3    male  22.0   7.2500     1
1       1  female  38.0  71.2833     0
2       3  female  26.0   7.9250     0
3       1  female  35.0  53.1000     0
4       3    male  35.0   8.0500     1

In [62]:
X.drop('Sex',inplace=True,axis=1)

In [63]:
X.head()

   Pclass   Age     Fare  male
0       3  22.0   7.2500     1
1       1  38.0  71.2833     0
2       3  26.0   7.9250     0
3       1  35.0  53.1000     0
4       3  35.0   8.0500     1

In [64]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [65]:
X_train.shape, X_test.shape

((623, 4), (268, 4))

In [66]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train =scaler.fit_transform(X_train)
X_test =scaler.fit_transform(X_test)

In [67]:
X_train

array([[0.        , 0.29337539, 0.1545881 , 1.        ],
       [0.5       , 0.29337539, 0.12687155, 0.        ],
       [0.        , 0.21766562, 0.44409922, 0.        ],
       ...,
       [0.5       , 0.43217666, 0.05074862, 1.        ],
       [1.        , 0.58359621, 0.02830212, 0.        ],
       [0.5       , 0.36908517, 0.02537431, 1.        ]])

## Using MultinomialNB first

In [41]:
from sklearn.naive_bayes import MultinomialNB

In [43]:
mnb = MultinomialNB()

In [68]:
mnb.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [69]:
y_pred= mnb.predict(X_test)

In [70]:
mnb.score(X_test,y_test)

0.6044776119402985

In [90]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [91]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train =scaler.fit_transform(X_train)
X_test =scaler.fit_transform(X_test)

## Using Gaussian Naive Bayes

In [92]:
from sklearn.naive_bayes import GaussianNB

In [93]:
gnb= GaussianNB()

In [94]:
gnb.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [95]:
y_pred_gaussian= gnb.predict(X_test)

In [97]:
gnb.score(X_test,y_test)

0.7873134328358209

## Using Gaussian NB the prediction went up

In [98]:
from sklearn.model_selection import cross_val_score

In [99]:
cross_val_score(gnb, X_train,y_train,cv=5)

array([0.808     , 0.8       , 0.76      , 0.7016129 , 0.75806452])

In [100]:
gaussian_score = cross_val_score(gnb, X_train,y_train,cv=5)

In [101]:
np.mean(gaussian_score)

0.7655354838709678

In [102]:
multinomial_score =cross_val_score(mnb,X_train,y_train,cv=5)

In [103]:
np.mean(multinomial_score)

0.6372258064516129